/* ********** Custom Properties ********** */
:root {
 --main-color: #FF7245;
 --main-color-darker:#ff5d2c93;
 --secondary-color: #FFC317;
 --contrast-color: #EB3A4A;
 --second-constant-color: #F4ABBE;
 --dark-color: #0389C8;
 --white: #FFFCF7;
 --black: #3D3D3D;
 --main-font: 'Space Mono', monospace;
 --title-font: 'Red Hat Display', sans-serif;
 --title-size: 3rem;
 --text-size: 1.6rem;
 --title-desktop-size: 3.6rem;
 --text-desktop-size: 1.8rem;
 --max-width: 1800px;
 --header-height: 70px;
}

/* ********** Reset ********** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: var(--main-font);
    overflow-x: hidden; 
}

body {
    overflow-x: hidden; 
}

a {
    color: var(--white);
    text-decoration: none;
    transition: all 0.5s ease; 
    font-size: 1.8rem;
}

h1 {
    font-family: var(--title-font);
    color: var(--white);
    text-shadow: 4px 4px 0 var(--contrast-color);
}

h2 {
    display: inline-block;
    font-family: var(--title-font);
    font-size: var(--title-size);
    color: var(--white);
}

h3 {
    font-family: var(--title-font);
    font-size: 1.8rem;
    color: var(--white);
}

img {
    max-width: 100%;
    height: auto;
}

main {
    width: 100vw;
}

p {
    font-size: var(--text-size);
}

small {
    font-family: var(--main-font);
}





/* ********** Components ********** */


/* ******** Hero Background ******** */
.background {
    height: 100vh;
    width: 100vw;
    background-image: var(--background-mobile);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: scroll;
}

@media screen and (min-width:768px) {
    .background {
        background-image: var(--background-big);
        background-size: 110%;
    }
}

@media screen and (min-width:1024px) {
    .background {
        background-image: var(--background-big);
        background-size: cover;

    }
}


/* ******** Gallery ******** */
.gallery {
    height: 100vh;
    display: grid;
}

.work {
    background-size: cover;
}

.work:nth-child(1) {
    background-image: url(/assets/jota.png)
}

.work:nth-child(2) {
    background-image: url(/assets/la-montana-azul.png)
}

.work:nth-child(3) {
    background-image: url(/assets/mencanta.png)
}

@media screen and (min-width:768px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .work {
        background-position: top;
    }
}
/* ******** Menu ******** */
.menu-btn {
    position: absolute;
    right: 2rem;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.menu {
    position: fixed;
    left: 0;
    top: var(--header-height);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--contrast-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}

.menu a {
    width: 100vh;
    padding: 2rem;
    text-align: center;
}

.menu a:hover {
    text-shadow: 2px 2px 0px var(--shadow-text-color);
}

@media screen and (min-width:1024px) {
    .menu-btn {
        display: none;
    }

    .menu {
        width: auto;
        position: static;
        flex-direction: row;
        gap: 60px;
        opacity: 1;
        pointer-events: auto;
        background-color: transparent;
    }

    .menu a {
        width: auto;
        padding: 0;
    }

    .menu a:hover {
        background-color: transparent;
    }
}






/* ********** Utilities ********** */
.container {
   margin: 0 auto;
   max-width: var(--max-width); 
}

.none {
    display: none;
}

.title {
    background-color: var(--second-constant-color);
    padding: 2% 6%;
}

.border-radius {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.shadows {
    text-shadow: 2px 2px 0px var(--shadow-text-color);
    box-shadow: 0px 5px 0px var(--shadow-box-color);
}



/* ********** Site Styles ********** */
.header {
    position: absolute;
    width: 100%;
    height: var(--header-height);
}

.header > .container {
    display:flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 95px;
}

@media screen and (min-width:768px) {
    
}

@media screen and (min-width:1024px) {
    .header {
        height: calc(var(--header-height) + 10px);
    }

    .header > .container {
        padding: 0 4rem;
        justify-content: space-between;
    }

    .logo img {
        width: 105px;
    }
    
}


.hero {
    width: 100vw;
    height: 100vh;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    gap: 5%;
    
}

.hero-title {
    padding-left: 3rem;
    width: 90%;
}

.hero-title h1 {
    font-size: 4rem; /* 6vw */
}

.hero-sticker {
    min-width: 300px;
    max-width: 600px;
    min-height: 200px;
    max-height: 400px;
    align-self: flex-end;
}

.hero-sticker img {
    width: 100%;
    height: 100%;
    
    transform: translateX(50px);
}

@media screen and (min-width:768px) {
    .hero {
        padding-top: 10vh;
        gap: 0;
    }

    .hero-title {
        width: 75%;
    }

    .hero-title h1 {
        font-size: 6rem; 
    }
}

@media screen and (min-width:1024px) {
    .hero {
        padding-top: 15vh;
    }

    .hero-title {
        width: 70%;
        padding-left: 4rem;
    }

    .hero-title h1 {
        font-size: 7rem; 
    }
}

@media screen and (min-width:1440px) {
    .hero {
        flex-direction: row;
    }

    .hero-title {
        width: 60%;
        padding-left: 4rem;
    }

    .hero-title h1 {
        font-size: 9rem; 
    }

    .hero-sticker {
        align-self: center;
    }

    .hero-sticker img {
        transform: translate(70px, 70px);
    }
}

@media screen and (min-width:2000px) {
    .hero-title {
        width: 60%;
        padding-left: 10%;
    }

    .hero-title h1 {
        font-size: 12rem; 
    }

    .hero-sticker {
        min-width: 800px;
    }
}


#works {
    position: relative;
}

#works > h2 {
    position: absolute
}

