/* ********** Custom Properties ********** */
:root {
 --main-color: #FF7245;
 --main-color-darker:#ff5d2c93;
 --secondary-color: #FFC317;
 --contrast-color: #EB3A4A;
 --second-constant-color: #F4ABBE;
 --white: #FFFCF7;
 --black: #3D3D3D;
 --main-font: 'Space Mono', monospace;
 --title-font: 'Red Hat Display', sans-serif;
 --title-size: 3rem;
 --text-size: 1.6rem;
 --title-desktop-size: 3.6rem;
 --text-desktop-size: 1.8rem;
 --max-width: 1400px;
 --header-height: 70px;

}

/* ********** Reset ********** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: var(--main-font);
}

body {
    overflow-x: hidden; 
}

a {
    color: var(--white);
    text-decoration: none;
    transition: all 0.5s ease; 
    font-size: 1.8rem;
}

h1 {
    font-family: var(--title-font);
    font-size: var(--title-size);
    color: var(--white);
}

h3 {
    font-family: var(--title-font);
    font-size: 1.8rem;
    color: var(--white);
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: var(--text-size);
}

small {
    font-family: var(--main-font);
}





/* ********** Components ********** */


/* ******** Hero Background ******** */
.background {
    height: 100vh;
    width: 100vw;
    background-image: var(--background-mobile);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}

@media screen and (min-width:768px) {
    .background {
        background-image: var(--background-big);
        background-size: contain;
    }
}

@media screen and (min-width:1024px) {
    .background {
        background-image: var(--background-big);
        background-size: cover;

    }
}


/* ******** Menu ******** */
.menu-btn {
    position: absolute;
    right: 2rem;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.menu {
    position: fixed;
    left: 0;
    top: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--contrast-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}

.menu a {
    width: 100vh;
    padding: 2rem;
    text-align: center;
}

.menu a:hover {
    background-color: var(--main-color-darker);
}

@media screen and (min-width:1024px) {
    .menu-btn {
        display: none;
    }

    .menu {
        width: auto;
        position: static;
        flex-direction: row;
        gap: 60px;
        opacity: 1;
        pointer-events: auto;
        background-color: transparent;
    }

    .menu a {
        width: auto;
        padding: 0;
    }

    .menu a:hover {
        background-color: transparent;
    }
}





/* ********** Utilities ********** */
.container {
   margin: 0 auto;
   max-width: var(--max-width); 
}

.none {
    display: none;
}




/* ********** Site Styles ********** */
.header {
    position: absolute;
    width: 100%;
    height: var(--header-height);
}

.header > .container {
    display:flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 95px;
}

@media screen and (min-width:768px) {
    
}

@media screen and (min-width:1024px) {
    .header {
        height: calc(var(--header-height) + 10px);
    }

    .header > .container {
        padding: 0 4rem;
        justify-content: space-between;
    }

    .logo img {
        width: 105px;
    }
    
}


.hero {
    height: 100vh;
    padding-top: 25%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    
}

.hero-title {
    padding-left: 3rem;
    width: 90%;
}

.hero-title h1 {
    font-size: 4rem; /* 6vw */
    line-height:4.6rem;
}

.hero-sticker {
    width: 300px;
    max-width: 600px;
    height: auto;
    align-self: flex-end;
}

.hero-sticker img {
    width: inherit;
    transform: translateX(50px);
}



